* {
    margin: 0;
    padding: 0;
}

header {
    height: 12vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #05072F;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main {
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #01041b;
}

#fecaf-red {
    margin-left: 50px;
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    color: white;
}

#fecaf-red:before {
    color: #CF092D;
    content: "FECAF";
}

#main-content {
    height: 80vh;
    width: 55vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#music-red {
    margin-left: 80px;
    font-size: 120px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: white;
}

#music-red:before {
    color: #CF092D;
    content: "Music";
}

#main-text {
    margin-left: 80px;
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: white;
}

#cover {
    height: 80vh;
    width: 45vw;
}

#cover-image {
    height: 100%;
    width: 100%;
}

#botoes {
    margin-top: 100px;
    margin-left: 80px;
    width: 55vw;
}

#download {
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: white;
    background-color: #CF092D;
    width: 15vw;
    height: 10vh;
    border-radius: 40px;
    border: 0;
}

#free-trial {
    margin-left: 100px;
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: white;
    background-color: #410093;
    width: 15vw;
    height: 10vh;
    border-radius: 40px;
    border: 0;
}

nav p {
    margin-left: 40px;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    color: white;
}

span {
    margin-left: 200px;
    margin-right: 30px;
}

span button {
    margin-left: 15px;
    background: none;
    border: 0;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    color: white;
}

#button-red {
    margin-left: 40px;
    color: #CF092D;
}

#detalhe {
    padding-right: 20px;
    border-right: 5px solid #CF092D;
}

footer {
    height: 8vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: #05072F;
    align-items: center;
}

footer p {
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    color: white;
}